mixin item(title, requestURL, target='#content')
    li
        button(hx-get=requestURL hx-target=target hx-push-url='true' class="w-full block rounded-lg px-4 py-2 text-sm font-medium bg-gray-100/50 hover:bg-gray-100 hover:text-gray-700")=title 


p(class='text-lg')=sidebar.title 

ul(class="my-6 space-y-1")
    each item in sidebar.items
        +item(item.title, item.requestURL, item.target)