doctype html
html
  head
    title NoWaste
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    script(src="https://unpkg.com/htmx.org@1.8.4")
  body
    header 
      a(href='/')
        h1 NoWaste 
    section#sidebar
      block sidebar
    section#content 
      block content 
