doctype html
html
  head
    title NoWaste
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    script(src="https://unpkg.com/htmx.org@1.8.4")
    script.
      function checkContent(restauranteId) {
        //document.getElementById(restauranteId).remove();
        document.getElementById('content').innerHTML = "<p>Restaurante eliminado !!</p>"
      }
      function limpiarContent() {
        document.getElementById('content').innerHTML = "<p>Elegi un restaurante!</p>"
      }
    script.
      document.addEventListener("DOMContentLoaded", () => {
          const sliders = document.querySelectorAll ('.slider');
          console.log(sliders);
          sliders.forEach((slider, index) => {
              const slides = slider.querySelector('.slides');
              console.log(slider);
              const slideCount = slides.childElementCount;
              const btnIzquierda = slider.querySelector("#btn-izquierda");
              console.log(btnIzquierda);
              const btnDerecha = slider.querySelector("#btn-derecha");
              let currentIndex = 0;
              const slideWidth = slides.children[0].offsetWidth; // Ancho de cada diapositiva
              const percentage = 100;
              btnIzquierda.addEventListener("click", () => {
                  currentIndex = (currentIndex > 0) ? currentIndex - 1 : slideCount - 1;
                  const translateX = -currentIndex * slideWidth;
                  slides.style.transform = `translateX(${translateX}px)`;
              });

              btnDerecha.addEventListener("click", () => {
                  currentIndex = (currentIndex < slideCount - 1) ? currentIndex + 1 : 0;
                  const translateX = -currentIndex * slideWidth;
                  slides.style.transform = `translateX(${translateX}px)`;              });
          });
      });
    block head
  body
    
    header 
      a(href='/')
        h1 NoWaste
    section#sidebar
      block sidebar
    section#content 
      block content 
