doctype html
html
  head
    title NoWaste
    link(rel='stylesheet', href='/static/stylesheets/outputTailwind.css')
    script(src="https://unpkg.com/htmx.org@1.8.4")
    script.
      function checkContent(restauranteId) {
        //document.getElementById(restauranteId).remove();
        document.getElementById('content').innerHTML = "<p>Restaurante eliminado !!</p>"
      }
      function limpiarContent() {
        document.getElementById('content').innerHTML = "<p>Elegi un restaurante!</p>"
      }
    script.
      document.addEventListener("DOMContentLoaded", () => {
          const sliders = document.querySelectorAll ('.slider');
          console.log(sliders);
          sliders.forEach((slider, index) => {
              const slides = slider.querySelector('.slides');
              console.log(slider);
              const slideCount = slides.childElementCount;
              const btnIzquierda = slider.querySelector("#btn-izquierda");
              console.log(btnIzquierda);
              const btnDerecha = slider.querySelector("#btn-derecha");
              let currentIndex = 0;
              const slideWidth = slides.children[0].offsetWidth; // Ancho de cada diapositiva
              const percentage = 100;
              btnIzquierda.addEventListener("click", () => {
                  currentIndex = (currentIndex > 0) ? currentIndex - 1 : slideCount - 1;
                  const translateX = -currentIndex * slideWidth;
                  slides.style.transform = `translateX(${translateX}px)`;
              });

              btnDerecha.addEventListener("click", () => {
                  currentIndex = (currentIndex < slideCount - 1) ? currentIndex + 1 : 0;
                  const translateX = -currentIndex * slideWidth;
                  slides.style.transform = `translateX(${translateX}px)`;              });
          });
      });
    block head
  body
    div(class='flex flex-col h-screen w-screen overflow-auto')
      header
        div(class='bg-customGray mx-auto my-0 max-w-screen px-4 py-4 sm:px-6 sm:py-12 lg:px-8')
          div(class='sm:flex sm:items-center sm:justify-between')
            div
              a(href='/')
                img(src="/static/icons/logo.png", class="w-80 h-auto")
            div
              button(
                onclick="window.location.href='/login/logout'",
                class='w-16 inline-block rounded-md border border-blue-600 bg-blue-600 px-4 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 dark:hover:bg-blue-700 dark:hover:text-white'
              ) Log Out
        
      div(class='flex h-full w-full flex-row')
        div(class='bg-green-900/30 flex h-full w-80 flex-col justify-between border-e px-4 py-6 overflow-auto overscroll-auto')
          div(id='sidebar')
            block sidebar

        div(id='content' class='bg-green-900/10 flex h-full w-full flex-col justify-between border-e px-4 py-6 overflow-auto')
          block content 
