h1 Login
    form(action="", method="post") 
        div.form-group
            label(for='username') Usuario:
            input#nombre.form-control(type='text', placeholder='Usuario' name='Usuario' required)
            label(for='Contrase単a') Contrase単a:
            input#nombre.form-control(type='text', placeholder='Contrase単a' name='contrase単a' required)
        button.btn.btn-primary(type='submit' hx-post="" hx-target="#content") Iniciar sesion
        