html
  head
    link(rel='stylesheet', href='/static/stylesheets/outputTailwind.css')
    script(src="https://unpkg.com/htmx.org@1.8.4")

  body(class='flex justify-center text-center items-center min-h-screen bg-gray-100')
    div(class='bg-customGray p-8 rounded-lg shadow-lg')
      img(src="/static/icons/logo.png", class="w-80 h-auto px-3 py-8")
      div
        form(action="/login", method="post" class='space-y-4')
          div
            label(for='email' class='block text-left font-semibold') Usuario:
            input(type='text', placeholder='Ingrese e-mail' name='email' required class='w-full px-3 py-2 border rounded')
          div
            label(for='password' class='block text-left font-semibold') Contrase침a:
            input(type='password', placeholder='Ingrese Contrase침a' name='password' required class='w-full px-3 py-2 border rounded')
          div(class='flex space-x-4 justify-center')
            button(type='submit' class='btn btn-primary px-4 py-2 bg-blue-500 text-white rounded') Iniciar sesi칩n
            button(type='button' onclick="window.location.href='/login/register'" class='btn btn-secondary px-4 py-2 bg-gray-500 text-white rounded') Registrarse
          a(href="/login/auth/facebook" class='btn btn-primary mt-4 block text-center bg-blue-600 text-white rounded px-4 py-2') Iniciar sesi칩n con Facebook
