h1 Login
    form(action="/login", method="post") 
        div.form-group
            label(for='email') Usuario:
            input#nombre.form-control(type='text', placeholder='Ingrese e-mail' name='email' required)
            label(for='password') Contraseña:
            input#nombre.form-control(type='password', placeholder='Ingrese Contraseña' name='password' required)
        button.btn.btn-primary(type='submit' hx-post="" hx-target="#content") Iniciar sesion
        