html
  head
    title Login
    link(rel='stylesheet', href='/static/stylesheets/outputTailwind.css')
    script(src="https://unpkg.com/htmx.org@1.8.4")

  body(class='flex justify-center text-center items-center min-h-screen bg-gray-100')
    div(class='bg-customGray p-8 rounded-2xl shadow-2xl')
      img(src="/static/icons/logo.png", class="w-80 h-auto px-3 py-8")
      div
        form(action="/login", method="post" class='space-y-4')
          div
            label(for='email' class='block text-left font-semibold py-1') Usuario
            input(type='text', placeholder='Ingrese e-mail' name='email' required class='w-full px-3 py-2 border rounded-lg')
          div
            label(for='password' class='block text-left font-semibold py-1') Contrase침a
            input(type='password', placeholder='Ingrese Contrase침a' name='password' required class='w-full px-3 py-2 border rounded-lg')
          div
            div(class='flex space-x-2 justify-center py-2')
                button(type='submit' class='btn btn-primary w-full py-2 bg-customGreen text-white rounded-lg') Iniciar sesi칩n
                button(type='button' onclick="window.location.href='/login/register'" class='btn btn-secondary w-full py-2 bg-gray-200 border border-customGreen text-customGreen rounded-lg') Registrarse
            div(class='flex w-full bg-blue-500 text-white px-4 py-2 rounded-lg')
              div(class='flex-auto flex items-center justify-center')
                img(src='/static/icons/facebook_logo.png' class='w-6')
              div(class='flex-auto flex items-center justify-center')
                a(href="/login/auth/facebook" class='btn btn-primary') Iniciar sesi칩n con Facebook