html
  head
    title Register
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")

  body
    h1 Registrarse
    .container
      .row
        .col-md-6.offset-md-3
          form(action="/login/register", method="post")
            .form-group
              label(for='email') Email:
              input#email.form-control(type='email', pattern="[^ @]*@[^ @]*", placeholder='Ingrese e-mail' name='email' required)
            .form-group
              label(for='username') Usuario:
              input#username.form-control(type='text', placeholder='Ingrese Usuario' name='username' required)
            .form-group
              label(for='password') Contrase単a:
              input#password.form-control(type='password', placeholder='Ingrese Contrase単a' name='password' required)
            .form-group
              label(for='confirm_password') Confirmar Contrase単a:
              input#confirm_password.form-control(type='password', placeholder='Ingrese Contrase単a' name='confirm_password' required)
            .form-group
              button.btn.btn-primary(type='submit' hx-post="" hx-target="#content") Registrar
              button.btn.btn-secondary(type='button', onclick="window.location.href='/login'") Volver a Login