extends ../layout

block head 
  script. 
    function limpiarContent() {
      document.getElementById('content').innerHTML = "<p>Elegi un restaurante!</p>"
    }

block sidebar
  include ../restaurantes/htmxListRestaurante.pug


block content 
  div
    include htmxListProductos.pug