extends ../layout

block head 
  script. 
    function limpiarContent() {
      document.getElementById('content').innerHTML = "<p>Elegi un restaurante!</p>"
    }

block sidebar
  div
    input(class="w-full form-control" type="search" name="search" placeholder="Buscar por nombre" hx-post="/user" hx-trigger="input changed delay:500ms, search" hx-target="#search-results" hx-indicator=".htmx-indicator") 
  div#search-results(class='overflow-y-auto')
    include ../restaurantes/htmxListRestaurante.pug
  button(onclick="window.location.href='/'") Ir a la página principal


block content 
  div
    include htmxListProductos.pug