@tailwind base;
@tailwind components;
@tailwind utilities;

ul.listaProductosUser {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center; /* Ajusta según lo necesites: space-around, space-evenly, etc. */
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .ul.listaProductosUser {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .ul.listaProductosUser {
    grid-template-columns: 1fr;
  }
}

ul.listaProductos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center; /* Ajusta según lo necesites: space-around, space-evenly, etc. */
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .ul.listaProductos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .ul.listaProductos {
    grid-template-columns: 1fr;
  }
}