extends ../layout

block content
  h1 Agregar restaurante
  div(id="formNewRestaurante")
    form(action="/restaurantes/add", method="post") 
      div.form-group
        label(for='nombre') Nombre:
        input#nombre.form-control(type='text', placeholder='Nombre' name='nombre' required)
        label(for='calle') Calle:
        input#nombre.form-control(type='text', placeholder='Calle' name='calle' required)
        label(for='numero') Numero:
        input#nombre.form-control(type='text', placeholder='Numero' name='numero' required)
      button.btn.btn-primary(type='submit' hx-get="/restaurantes/agregado" hx-swap="outerHTML" hx-target="#formNewRestaurante") Add restaurante

  if errors
    ul
      for error in errors
        li!= error.msg