p=title 
if restaurantesList.length 
    ul(class='my-6 space-y-2') 
        each restaurante in restaurantesList
            li(id=restaurante.id)
                div(class="block rounded-lg px-4 py-2 text-sm font-medium bg-gray-100/50 hover:bg-gray-100 hover:text-gray-700")
                    a(hx-get=`${baseURL}/show/` + restaurante.id hx-target="#content" hx-push-url='true' class='inline-block w-auto') #{restaurante.nombre}
                    if baseURL == '/admin/restaurantes'
                        button(hx-delete='/admin/restaurantes/show/'+restaurante.id hx-target='closest li' hx-swap='outerHTML' onclick='checkContent("'+restaurante.id+'")' class='float-right') X
else 
    p No hay restaurantes

button(onclick="window.location.href='/'") Ir a la página principal
