extends ../layout

block content 
    h1= title 
    if restaurantesList.length 
        ul 
            each restaurante in restaurantesList
                li 
                    a(href='/restaurantes/show/' + restaurante.id) #{restaurante.nombre}
    else 
        p No hay restaurantes