extends ../layout

block head 
  script. 
    function limpiarContent() {
      document.getElementById('content').innerHTML = "<p>Elegi un restaurante!</p>"
    }

block sidebar
  p Restaurantes
  button(hx-get="/admin"+path+"/add" hx-target="#content" hx-push-url='true') Add restaurante
  br
  button(hx-get="/admin"+path+"/show" hx-target='#sidebar' hx-push-url='true' onclick='limpiarContent()') Show restaurantes

block content 
  case action 
    when 'add'
      include htmxAddRestaurante.pug