extends ../layout

block sidebar
  p Restaurantes
  button(hx-get="/"+path+"/add" hx-target="#content" hx-push-url='true') Add restaurante
  br
  button(hx-get="/"+path+"/show" hx-target='#sidebar' hx-push-url='true') Show restaurantes

block content 
  case action 
    when 'add'
      include htmxAddRestaurante.pug