div(class='flex flex-col items-center justify-center gap-6')
    h1(class='mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl dark:text-white') Restaurante agregado
    button(hx-get='/admin/restaurantes/add' hx-target='#content' class="w-52 inline-block shrink-0 rounded-md border border-customGreen bg-customGreen px-4 py-3 text-center font-medium text-white transition hover:bg-transparent hover:text-customGreen") Agregar otro restaurante
    button(onclick="window.location.href='/'" class="w-52 inline-block shrink-0 rounded-md border border-customGreen bg-customGreen px-4 py-3 text-center font-medium text-white transition hover:bg-transparent hover:text-customGreen") Volver a la página principal
