extends ../layout

block content
  h1 Home Restaurantes
  button(hx-get="/"+path+"/add" hx-swap="outerHTML") Add restaurante
  br
  button(hx-get="/"+path+"/show" hx-swap="outerHTML") Show restaurantes