extends ../layout

block sidebar
  p Restaurantes
  button(hx-get="/"+path+"/add" hx-target="#content" hx-push-url='true') Add restaurante
  br
  a(href="/"+path+"/show") Show restaurantes

block content 
  case action 
    when 'add'
      include addRestaurante.pug