extends ../layout

block sidebar
  //- p(class='text-lg') Restaurantes
  
  //- ul(class="my-6 space-y-1")
  //-   li
  //-     button(hx-get=baseURL+"/add" hx-target="#content" hx-push-url='true' class="w-full block rounded-lg px-4 py-2 text-sm font-medium bg-gray-100/50 hover:bg-gray-100 hover:text-gray-700") Add restaurante
  //-   li
  //-     button(hx-get=baseURL+"/show" hx-target='#sidebar' hx-push-url='true' onclick='limpiarContent()' class="w-full block rounded-lg px-4 py-2 text-sm font-medium bg-gray-100/50 hover:bg-gray-100 hover:text-gray-700") Show restaurantes
  include ../componentes/sidebarContent.pug 

block content 
  case action 
    when 'add'
      include htmxAddRestaurante.pug